In [4]:
def greet():
    print('hello')
    print('good morning')

In [3]:
def greet():
    print('hello')
    print('good morning') 
greet()

hello
good morning

In [5]:
def greet():
    print('hello')
    print('good morning') 
greet()

def greet():
    print('hello')
    print('good morning') 
greet()

def greet():
    print('hello')
    print('good morning') 
greet()

hello
good morning
hello
good morning
hello
good morning

In [6]:
def greet():
    print('hello')
    print('good morning') 
greet()

greet()

greet()

hello
good morning
hello
good morning
hello
good morning

In [7]:
# write a python code add 2 number 

def add(x,y):
    c=x+y
    print(c)  
add(5,6)

11

In [8]:
# write a python code add 2 number 

def add(x,y,z):
    c=x+y+z
    print(c)  
add(5,6, 7)

18

In [9]:
def greet():
    print('hello')
    print('good morning') 
greet()

hello
good morning

In [10]:
def add(x,y,z):
    c=x+y+z
    print(c)  
add(5,6, 7)

18

In [11]:
def greet():
    print('hello')
    print('good morning') 
greet()

def add(x,y,z):
    c=x+y+z
    print(c)  
add(5,6, 7)

hello
good morning
18

In [12]:
def greet():
    print('hello')
    print('good morning') 

def add(x,y,z):
    c=x+y+z
    return c  

def sub(x,y):
    d = x-y
    print(d)
    
greet()
add(5,6,7)
sub(2,3)

hello
good morning
-1

In [13]:
def greet():
    print('hello')
    print('good noon')

def add(x,y,z):
    c=x+y+z
    return c

greet()

result = add(5,4,3)
print(result)

hello
good noon
12

In [14]:
def add_sub(x,y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    e=x*y
    f= x/y
    g = x**y
    print(c, d,e,f,g)
    
add_sub(4,5)

9 -1 20 0.8 1024

In [15]:
def add_sub(x,y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    print(c,d) 
    
add_sub(4,5)

9 -1

In [16]:
def add_sub(x,y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    return c, d
    
result = add_sub(4,5)

print(result)
print(type(result))

(9, -1)
<class 'tuple'>

In [17]:
def add_sub(x,y):
    c= x+y
    d= x-y
    return c, d

result1,result2 = add_sub(5,4)

print(result1,result2)

print(type(result1))
print(type(result2))

9 1
<class 'int'>
<class 'int'>

In [18]:
def bmw(x): #update function take the value from the user
    x = 10
    print(x)
    
bmw(8)

10

In [19]:
def bmw(x): #update function take the value from the user
    x = 10
    print(x)
    
bmw(8)

10

In [20]:
def bmw(x):  
    x = 8
    print(x)
    
a = 10
bmw(a)
print(a)

8
10

In [26]:
#Formal Argument
class nit:
    def add(a,b):# a & b called formal argument
        c = a+b
        print(c)
    
    add(5,6) #5 and 6 we called as actual argument

11

In [29]:
'''ACTUAL ARGUMENT
1) Positinal Argument
2) Keyboard Argument
3) Variable length
4) Default'''

'ACTUAL ARGUMENT\n1) Positinal Argument\n2) Keyboard Argument\n3) Variable length\n4) Default'

In [30]:
def person(name,age):
    print(name)
    print(age)
    
person('nit',22)

nit
22

In [31]:
def person(name,age):
    print(name)
    print(age)
    
person(22, 'nit')

22
nit

In [32]:
def person(name,age):
    print(name)
    print(age-5)   
    
person(22, 'nit')

22

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [33]:
def person(name,age):
    print(name)
    print(age-5)   
    
person(age = 22, name = 'nit')

nit
17

In [34]:
# keyword 

def person(name,age ):
    print(name)
    print(age)   
    
person(22, 'nit', 5)

TypeError: person() takes 2 positional arguments but 3 were given