In [3]:
def show():
    print('Hi')
    print('How you doing')

In [5]:
def show():
    print('Hi')
    print('How you doing') 
show()

Hi
How you doing

In [6]:
def show():
    print('Hi')
    print('How you doing') 
show()
def show():
    print('Hi')
    print('How you doing') 
show()
def show():
    print('Hi')
    print('How you doing') 
show()

Hi
How you doing
Hi
How you doing
Hi
How you doing

In [7]:
def show():
    print('Hi')
    print('How you doing') 
show()
show()
show()

Hi
How you doing
Hi
How you doing
Hi
How you doing

In [12]:
# write a python code add 2 number 
def sum(a,b):
    c=a+b
    print(c)
sum(4,9)

13

In [14]:
# write a python code add 3 number
def sum(x,y,z):
    v=x+y+z
    print(v)
sum(1,2,3)

6

In [15]:
def show():
    print('Hi')
    print('How you doing')
show()

def add(x,y,z):
    v=x+y+z
    print(v)
sum(1,2,3)

Hi
How you doing
6

In [16]:
def sum():
    print('Hi')
    print('How you doing')
    
def add(x,y,z):
    v = x+y+z
    return v

def sub(x,y):
    d=x-y
    print(d)

sum()
add(2,3,4)
sub(7,2)

Hi
How you doing
5

In [24]:
def show():
    print('hi')
    print('Good afternoon')

def add(x,y,z):
    c=x+y+z
    return c

show()
result = add(5,4,3)
print(result)

hi
Good afternoon
12

In [28]:
def add_sub(x,y):
    a=x+y
    b=x-y
    c=x*y
    d=x/y
    e=x**y
    f=x%y
    print(a,b,c,d,e,f)

add_sub(5,6)

11 -1 30 0.8333333333333334 15625 5

In [29]:
# what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
def add_sub(x,y):
    a=x+y
    b=x-y
    print(a,b)

add_sub(4,5)

9 -1

In [30]:
# what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
def add_sub(x,y):
    a=x+y
    b=x-y
    return a,b

add_sub(4,5)

(9, -1)

In [37]:
# what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
def add_sub(x,y):
    a=x+y
    b=x-y
    return a, b

result = add_sub(4,5)
print(result)
print(type(result))

(9, -1)
<class 'tuple'>

In [40]:
def add_sub(x,y):
    a=x+y
    b=x-y
    return a,b

result1,result2 = add_sub(3,4)

print(result1,result2)
print(type(result1))
print(type(result1))

7 -1
<class 'int'>
<class 'int'>

In [46]:
 #update function take the value from the user
def cow(x):
    x=9
    print(x)
cow(3)

9

In [47]:
def cow(x):
    x=9
    print(x)

a=10
cow(a)
print(a)

9
10

In [52]:
class func:
    def add(x,y):     # a & b called formal argument
        c = x+y
        print(c)

    add(4,5)       #5 and 6 we called as actual argument

9

In [53]:
def person(name,age):
    print(name)
    print(age)
person('mohit',22)

mohit
22

In [54]:
def person(name,age):
    print(name)
    print(age)
person(22,'mohit')

22
mohit

In [55]:
def person(name,age):
    print(name)
    print(age-5)
person(22,'mohit')

22

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [56]:
# keyword 

def person(name,age):
    print(name)
    print(age-5)   
    
person(age = 22, name = 'mohit')

nit
17

In [57]:
# keyword 

def person(name,age ):
    print(name)
    print(age)   
    
person(22, 'nit', 5)

TypeError: person() takes 2 positional arguments but 3 were given